@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    background-color: #E5E5E5;
    border: 2px solid red;
    justify-content: center;
    align-items: center;

}

.logo {
    position: relative;
    top: 1.2rem;
    left: 1rem;
}

.item-menu {
    position: relative;
    text-align: center;
    list-style-type: none;
    display: inline;
    width: 455px;
    height: 19px;
    left: 7%;
}

.item-menu li {
    display: inline;
}


.item-menu li a {
    color: #4C5D73;
    padding: 1%;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    display: inline;
    font-weight: 16px;
}

.menu2 {
    position: absolute;
    list-style-type: none;
    display: inline;
    padding-top: 0.7rem;
    padding-left: 12rem;
    height: 4rem;
    width: 27rem;
    justify-content: center;
    align-items: center;
}

.menu2 a {
    padding: 1%;
    padding-right: 3%;
    text-decoration: none;
    display: inline-block;
    display: inline;
    font-weight: 100;
    font-size: medium;
    font-size: 16px;
    color: #304F8C;
}

.entrar {
    border: 2px solid #304F8C;
    width: 130px;
    height: 44px;
    border-radius: 8px;
    text-align: center;
    background-color: #E5E5E5;
    cursor: pointer;
}

.hero {
    width: 50%;
    height: 43%;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    transform: translate(-15rem, 5.3rem);   
}

.hero h1 {
    font-style: bold;
    font-size: 38px;
    color: #111826;
}

.hero p {

    font-size: 15px;
    color: #4C5D73;
    position: relative;
    top: 10%;
    padding-top: 1%;
}

.hero button {
    border: none;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    background-color: #304F8C;
    color: #ffff;
    transform: translateY(1.8rem);
    cursor: pointer;
}


.hero-right {
    width: 43%;
    justify-content: center;
    align-items: center;
    transform: translate(18rem, -9rem);
    bottom: 5%;
}

.hero-botton {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-4rem);
    width: 90%;
    height: 6rem;
    background-color: #ffff;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 10px;
    padding-top: 3%;
    padding-left: 3%;
   
}

.text1 {
    padding: 2px;
    text-align: left;
    width: 220px;
    height: 67px;
    border: 2px solid #ffff;
    padding-top: 0.7rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    color: #4C5D73;
}

.text1 h4 {
    color: #111826;
}

.img-1 {
    float: left;
    position: relative;
    bottom: 0.7rem;
    right: 0.2rem;
}

#servicos {
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    height: 550px;
}

.texto {
    width: 100%;
    height: 9rem;
    padding-left: 1%;
    color: #4C5D73;
}

.texto h2 {
    padding-top: 2rem;
    color: #111826;
    font-size: 32px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(5rem);
}

.box {
    width: 15rem;
    height: 12rem;
    border-radius: 10px;
    background-color: #ffff;
    display: block;
    padding: 10px;
    top: 2rem;
    color: #4C5D73;
    margin: 2%;
    box-shadow: 0px 10px 40px #00000056;
}


.box h4 {
    color: #111826;
}

.serv-icon {
    width: 67px;
    height: 67px;
    float: top;
    display: block;
    margin: 0 auto 10px;
    position: relative;
    right: 4rem;
}

#sobre {
    position: relative;
    top: 22%;
    height: 700px;
}

#sobre p {
    color: #4C5D73;
}

.sobre-texto {
    height: 5rem;
    width: 100%;
    padding-left: 1%;
}

.sobre-texto h2 {
    margin-top: 0.4rem;
    color: #111826;
    font-size: 32px;
}



.sobre-img {
    width: 523px;
    height: 580px;
}

.sobre-texto2 {
    width: 580px;
    height: 278px;
    transform: translate(13rem, -29rem);
}

.btn-cases {
    border: 2px solid #304F8C;
    width: 214px;
    height: 48px;
    border-radius: 8px;
    background-color: #ffff;
    color: #304F8C;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 2.5rem;
}

#atuacao {
    position: relative;
    width: 100%;
    color: #4C5D73;
    top: 10%;
    height: 620px;
    padding-left: 1%;
    justify-content: center;
    align-items: center;
}

#atuacao h2 {
    padding-top: 0.5%;
    width: 100%;
    font-size: medium;
    font-size: 32px;
    color: #111826;

}

.box2 {
    width: 100%;
    height: 400px;
    padding: 6%;
    display: flex;
    padding-top: 9%;
}

.box-atuacao {
    width: 268px;
    height: 208px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 0px 10px 40px #00000056;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4%;
    margin: 2%;
    color: #111826;
}

#planos {
    width: 100%;
    height: 800px;
    position: relative;
    color: #111826;
    font-size: 17px;
    top: 13%;
    padding-left: 1%;
    justify-content: center;
    align-items: center;
}


.texto-h2 {
    padding-top: 0.5%;
    position: relative;
    font-size: 32px;
}

.box3 {
    display: flex;
    height: 500px;
    padding-top: 6rem;   
}

.box-planos {
    width: 230px;
    height: 288px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 0px 10px 40px #00000056;
    text-align: left;
    padding: 1%;
    margin: 1%;
}

.box-planos h2 {
    width: 120px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
    display: inline-flex;
    color: #111826;
    padding-top: 4%;

}

.box-planos h6 {
    width: 29px;
    height: 21px;
    font-size: 12;
    color: #111826;
    display: inline-flex;
    font-weight: 400;
    position: relative;
    bottom: 0.7rem;
    right: 0.5rem;
}

.texto-p {
    width: 209px;
    height: 60px;
    font-size: 14px;
    color: #4C5D73;
    position: relative;
    right: 1%;
    top: 11%;
}

.box-planos button {
    border: 2px solid #304F8C;
    position: relative;
    top: 25%;
    width: 200px;
    height: 48px;
    border-radius: 8px;
    font-size: 15px;
    color: #304F8C;
    font-weight: bold;
    background-color: #ffff;
    margin-left: 2%; 
}

.rec {
    transform: translate(1.7rem, -13rem);
}

.text-rec {
    transform: translate(0.1rem, -15rem);
    width: 5rem;
    color: #304F8C;
}

.blue {
    width: 230px;
    height: 288px;
    border-radius: 10px;
    background-color: #304F8C;
    box-shadow: 0px 10px 40px #00000056;
    text-align: left;
    padding: 1.5%;
    color: #ffff;
    font-size: 17px;
    transform: translateY(0.6rem);
}

.blue h2 {
    width: 120px;
    height: 40px;
    font-size: 32px;
    font-weight: bold;
    display: inline-flex;
    color: #ffffff;
    padding-top: 2%;
}

.blue h6 {
    width: 29px;
    height: 21px;
    font-weight: 400;
    font-size: 12;
    color: #ffffff;
    display: inline-flex;
    position: relative;
    bottom: 0.7rem;
    right: 0.6rem;
}


.texto-b {
    width: 209px;
    height: 60px;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    right: 1%;
    top: 11%;
}


.blue button {
    border: 2px solid #304F8C;
    position: relative;
    top: 25%;
    width: 200px;
    height: 48px;
    border-radius: 8px;
    font-size: 15px;
    color: #304F8C;
    font-weight: bold;
    background-color: #ffff;
}

#bra {
    justify-content: center;
    align-items: center;
    width: 770px;
    height: 423px;
    background-color: #ffffff;
    border-radius: 13px;
    transform: translateY(-10rem);    
}

.comentario {
    background-color: #EAEDF3;
    width: 770px;
    height: 392px;
    border-radius: 13px;
    position: relative;
    top: 10%;

}


.aspas {
    position: relative;
    left: 85%;
    bottom: 45%;
}

.homem {
    position: relative;
    left: 25%;
    bottom: 5%;
}

#bra p {
    width: 537px;
    height: 96px;
    font-size: 16px;
    font-size: medium;
    color: #4C5D73;
    padding: 1%;
    top: 3rem;
}

.pontos {
    position: relative;
    left: 43%;
    top: 3%;
}


footer{
    width: 100%;
    height: 390px;
    background-color: #111826;
    color: #ffffff;
    display: flex;
    flex-direction: column;

}

.uls{
    width: 100vw;
    height: 298px;
    display:flex;
    align-items: center;
    justify-content: center;
}
footer li{
    list-style: none;
    padding: 5%;

}

footer h4{
    font-size: 18;
}
.recursos{
    width: 120px;
    height: 215px;
    position: relative;
}

.recursos a{
    color: #ffffff;
    text-decoration: none;
}

.precos{
    width: 230px;
    height: 180px;
    position: relative;
}

.precos a{
    color: #ffffff;
    text-decoration: none;
}

.contato{
    width: 120px;
    height: 200px;
    position: relative;
}

.contato a{
    color: #ffffff;
    text-decoration: none;
}

.institucional{
    width: 230px;
    height: 200px;
    position: relative;
}

.institucional a{
    color: #ffffff;
    text-decoration: none;
}

.box-email{
    width: 299px;
    height: 145px;
    position: relative;
    bottom: 7%;
}

.box-email input{
    width: 290px;
    height: 40px;
    border-radius: 6px;
    background-color: #ffffff;
    color: #111826;
    padding-left:8%;
    padding-right: 13%;
    margin-top: 9%;
}

.seta{
    position: relative;
    bottom: 20%;
    left: 85%;
}

.redes{
    width: 120px;
    height: 40px;
    position: relative;
    right: 29%;
    bottom: 6.5%;
}

.insta{
    width: 30px;
    height: 30px;
    position: relative;
    top: 12%;
    
}

.lin{
    width: 30px;
    height: 30px;
    position: relative;
    top:10%;
    left: 7%;
}

.face{
    width: 30px;
    height: 26px;
    position: relative;
    top: 10%;
    left: 15%;
}
.copy{ 
    width: 100%;
    position: relative;
    top: 15%;

}

.copy p{
    width: 100vw;
    height: 40px;
    text-align: center;
    margin-top: 6px;
    font-weight: 100;
}

